{% extends 'base.html' %}
{% block title %}About GT Movies Store{% endblock %}
{% block content %}
    <h1 style = "text-align: center; color: #F5F5F5; font-weight: bold;">About Us</h1>
    <p class = "aboutText">
        Welcome to the <strong> GT Movies Store</strong>, your go-to destination for discovering, exploring, and purchasing your
        favorite films! Our platform is designed to cater to movie enthusiasts by offering a seamless and
        enjoyable experience for browsing, buying, and sharing thoughts about movies.
        <br><br>
        <strong>What We Offer: </strong>
    </p>
    <ul class = "aboutText">
        <li>
            <strong>Extensive Movie Catalog</strong>: Dive into detailed information about each film, including its title,
            price, description, and high-quality images to help you make informed choices.
        </li>
        <li>
            <strong>Easy Purchasing</strong>: Place orders effortlessly and securely to build your personal movie collection.
        </li>
        <li>
            <strong>Interactive Reviews:</strong> Share your opinions by creating, editing, or deleting reviews.
            Discover what others think and contribute to our vibrant community of movie lovers.
        </li>
    </ul>
    <br>
    <p class = "aboutText">
        <strong>Our Mission</strong>
        <br>
        At GT Movies Store, we aim to bridge the gap between filmmakers and audiences by providing a user-friendly platform
        that prioritizes accessibility, reliability, and community engagement. Whether you're here to buy classics, explore new releases,
        or discuss cinematic gems, we’ve got you covered.
    </p>
{% endblock %}